@charset "utf-8";
/* CSS Document */

html {
  background: url(images/city-lights-on-the-water.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

td 
{
  text-align: center;
}

#fuckthisthing
{
	font: 50px solid;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#suggestion
{
	background-color: #0CF;
	text-align: center;
}

#rightTitle
{
	height: 30px;
	background-color: #0CF;
	padding: 10px;
	border-radius: 6px;
}

#leftTitle
{
	height: 30px;
	background-color: #0CF;
	padding: 10px;
	border-radius: 6px;
}

#leftText
{
	background-color: #DF9B1C;
	border-radius: 6px;
	
}

#leftText a,
#rightText a {
	color: #06F;	
}

#rightText
{
	background-color: #DF9B1C;
	border-radius: 6px;
}

#zip {
	width: 200px;
	height: 25px;	
}

#search {
	width: 100px;
	height: 25px;	
}

#greeting {
	font-family: "Arial Black", Gadget, sans-serif;	
}

table {
  margin: 10px;	
}