@charset "utf-8";
/* CSS Document */
/* http://css3gen.com/box-shadow/  for shading*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	font: 12pt "Junction", Arial, Helvetica, sans-serif;
	height: 100%;
}

#header {
	height: 166px;
	width: 100%;
	background-color: white;	
}

#nav {
	width: 100%;
	height: 37px;
	background-color: #333;
}

#nav ul {
	list-style: none;
	position: relative;
	display: table;
	margin: 0 auto;
}

#nav ul li {
	border: 3px solid;
	position: relative;
	float: left;
	width: auto;
}

#nav ul li:hover {
	border-color: #2D96FF;	
}

#nav a {
	padding: .3em 3.085em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	background: none;
}

#top {
	padding: 10px;	
}

#top img {
	padding: 10px;	
}

#top h2 {
	text-align: center;	
}

#text {
	clear: both;
	padding: 10px;	
}

#main {
	min-height: 1024px;
	width: 100%;
	background-color: #5CCCCC;
}

#image {
	float: left;	
}

#footer {
	height: 50px;
	width: 100%;
	display: block;
}

#footer p {
	background-color: yellow;
	width: 950px;
	text-align: center;
	margin: 0 auto;
}

#container {
	width: 950px;
	margin: 0 auto;
	min-height: 1024px;
	/* background color for the main content area */
	background-color: #BEEB00;
	/* this shadow is borrowed code */
	-moz-box-shadow: 0px 10px 50px #000;
	-webkit-box-shadow: 0px 10px 50px #000;
	box-shadow: 0px 10px 50px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	display: block;
}
