/* CSS Document */
@charset "utf-8";


* {
	margin: 0px;
	padding: 0px;	
}

.entry {
	padding: 20px;	
	height: 200px;
	
	border-bottom: 1px dashed;
	
	margin-bottom: 10px;
}

.mediatype {
	display: block;
	float: left;	
}

.title {
	display: block;
	float: left;
	
	margin-left: 10px;
	margin-right: 10px;
	height: 30px;
}

.title p {
	font-size: 24px;	
}

.text {
	display: block;
	float: left;	
}

.post {
	display: block;
	float: left;
	clear: both;
	
	margin-top: 10px;
}

.post p {
	font-size: 14px;	
}

.entry p {
	background-color: blue;
}

#forminsert {
	float: left;
	min-height: 800px;
	margin: 50px 0px 0px 100px;
}

textarea {
	resize: none;
}